#version=DEVEL
install
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
#repo --name="RHEL7" --baseurl=cdrom:sr0

# Use graphical install
#graphical
text
# Run the Setup Agent on first boot
firstboot --enable
#ignoredisk --only-use=vdb,vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --onboot=off
network  --hostname=localhost.localdomain

# Root password
#rootpw --iscrypted $6$uPrUdFaIa4pqPQNZ$zBVZG29.0GLzEvT1GUIm6c.94WT86odq8ncFRLWUMY3TudmDVkKUfy4sagoFSCGM3cie8qFk9nbkCfX3mnX8Q/
rootpw --iscrypted azIXnlbPgow2M
# System timezone
services --enabled="chronyd"
timezone America/New_York --isUtc
user --groups=wheel --name=oracle --password=$6$EwI5c24O6oAY/ACW$LIZYS8HpJVHXkIfXwVCF5j/FooOeMZ1dsiZD7d6K6FL.Lx6y.zNngGfKOU1OrdrMSSGV1ccl3SzdmQ09h00sV0 --iscrypted --gecos="oracle"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
#repo --name="CentOS" --baseurl=http://mirror.centos.org/centos/7/os/x86_64/ --cost=100
#repo --name="Updates" --baseurl=http://mirror.centos.org/centos/7/updates/x86_64/ --cost=100
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools
chrony
net-tools

%end

%post --nochroot
set -x -v
#exec 1>/root/ks-post.log 2>&1

#rm -fr /etc/yum.repos.d/*

#echo "nameserver 10.19.8.10" >> /mnt/sysimage/etc/resolv.conf

#!/bin/bash
cp -frp /run/install/repo/docker /mnt/sysimage/tmp
#!/bin/bash
echo "/bin/bash /tmp/docker/install_common.sh 2>&1 >/tmp/docker_install.log" >> /mnt/sysimage/etc/rc.d/rc.local 
chmod +x /mnt/sysimage/etc/rc.d/rc.local

reboot

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end