mysql:
  host: {{mysql.host}}
  port: {{mysql.port}}
  user: {{mysql.user}}
  pass: {{mysql.pass}}
daemon:
  pid: {{daemon.pid}}
  critical_log: {{daemon.critical_log}}
  def_tty: {{daemon.def_tty}}
  host: {{daemon.host}}
  port: {{daemon.port}}
logger:
  location: {{logger.location}}
  name: {{logger.name}}
  rotation_time: {{logger.rotation_time}}