[mysqld_safe]
nice = 0

[mysqld]
user=mysql
basedir=/usr
tmpdir=/tmp
datadir=/var/lib/mysql3307
socket=/var/lib/mysql3307/mysql.sock
log-error=/var/lib/mysql3307/mariadb.log
log_warnings = 2
slow_query_log_file = /var/lib/mysql3307/slow.log
pid-file=/var/lib/mysql3307/mysql.pid
bind-address = 0.0.0.0
#binlog_format = ROW
default-storage-engine = innodb
innodb_file_per_table
collation-server = utf8_general_ci
character-set-server = utf8
port = 3307
lc_messages_dir = /usr/share/mariadb
#/usr/share/mysql/english/errmsg.sys
lc_messages = en_US
skip-character-set-client-handshake
skip-external-locking
skip-name-resolve
server-id=10000001
log-bin=master-bin

long_query_time = 3
log_slow_verbosity = query_plan
#log_bin = /var/log/mariadb/mariadb-bin
#log_bin_index = /var/log/mariadb/mariadb-bin.index
expire_logs_days = 10

# Autocommit
init_connect = 'SET autocommit=0'
init_connect = 'SET NAMES utf8'
init_connect = 'SET collation_connection = utf8_general_ci'

max_connections     = 5000
max_connect_errors  = 1000
connect_timeout     = 300
wait_timeout        = 1200
interactive_timeout = 1200
net_read_timeout    = 600
net_write_timeout   = 600
thread_cache_size   = 128
thread_pool_max_threads = 5000
sort_buffer_size    = 1M
bulk_insert_buffer_size = 16M
tmp_table_size      = 32M
max_heap_table_size = 64M

# Read the manual for more InnoDB related options. There are many!
default_storage_engine  = InnoDB
#max_binlog_size = 256M
max_allowed_packet  = 256M

innodb_buffer_pool_size = 4G
innodb_log_buffer_size = 4G
innodb_log_file_size = 512M
innodb_file_per_table = 1
innodb_open_files = 20480
innodb_io_capacity = 400
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 0
innodb_autoinc_lock_mode = 2
innodb_doublewrite = 1
innodb_locks_unsafe_for_binlog = 1
innodb_print_all_deadlocks = 1
innodb_lock_wait_timeout = 300

# * Query Cache Configuration
#
# Cache only tiny result sets, so we can fit more in the query cache.
query_cache_size        = 0
query_cache_type        = 0

[mysqldump]
quick
quote-names
max_allowed_packet = 256M
